includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - tools/phpstan/symfony-configuration.php
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tools/
        #- tests/

    tmpDir: var/phpstan

    symfony:
        consoleApplicationLoader: tools/phpstan/console-application.php

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php

services:
	-
		class: AppTools\PHPStan\Type\CommandBusHandleDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
