{% extends 'base.html.twig' %}

{% block title %}Styleguide{% endblock %}

{% block body %}
    <main class="container mx-auto p-2 max-w-screen-lg">
        <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight my-2">Styleguide</h1>

        <div class="bg-white shadow-lg rounded-lg border">
            <header class="p-4 flex items-center justify-between border-b bg-slate-100">
                <h2 class="text-md/6 font-semibold text-gray-900">BankTransactionCategory</h2>
            </header>
            <section>
                <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 bg-gray-100 gap-[1px]">
                    {% for bank_transaction_category in enum('App\\Domain\\Data\\ValueObject\\BankTransactionCategory').cases() %}
                        <li class="flex justify-between gap-x-6 p-5 bg-white hover:bg-gray-50 ">
                            <div class="flex min-w-0 gap-x-4 items-center">
                                <div class="flex-shrink-0">
                                    <twig:BankTransactionCategoryAvatar category="{{ bank_transaction_category }}" />
                                </div>
                                <div class="min-w-0 flex-auto">
                                    <p class="text-sm/6 font-semibold text-gray-900">{{ bank_transaction_category.name }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
{% endblock %}
