{% extends 'base.html.twig' %}

{% block title %}Styleguide{% endblock %}

{% block body %}
    <main class="container mx-auto p-2 max-w-screen-lg">
        <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight my-2">Styleguide</h1>

        <twig:StackedList>
            <twig:block name="header">
                <twig:StackedList:Header>
                    BankTransactionCategory
                </twig:StackedList:Header>
            </twig:block>
            <twig:StackedList:List class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                {% for bank_transaction_category in enum('App\\Domain\\Data\\ValueObject\\BankTransaction\\Category').cases() %}
                    <twig:StackedList:ListItem hoverable>
                        <div class="flex min-w-0 gap-x-4 items-center">
                            <div class="flex-shrink-0">
                                <twig:BankTransactionCategoryAvatar category="{{ bank_transaction_category }}" />
                            </div>
                            <div class="min-w-0 flex-auto">
                                <p class="text-sm/6 font-semibold text-gray-900">{{ bank_transaction_category.name }}</p>
                            </div>
                        </div>
                    </twig:StackedList:ListItem>
                {% endfor %}
            </twig:StackedList:List>
        </twig:StackedList>
    </main>
{% endblock %}
