{% extends 'base_app.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block subtitle %}
    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <twig:UX:Icon name="tabler:coin-euro-filled" class="mr-1.5 size-5 shrink-0 text-gray-400" />
            $120k &ndash; $140k
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <twig:UX:Icon name="tabler:calendar" class="mr-1.5 size-5 shrink-0 text-gray-400" />
            Closing on January 9, 2020
        </div>
    </div>
{% endblock %}

{% block actions %}
    {# <twig:Button icon="tabler:settings" href="#"> #}
    {# Parameters #}
    {# </twig:Button> #}

    <form
        action="{{ path('app_bank_accounts_transactions_import_dump', {bankAccountId}) }}"
        method="POST"
        data-controller="bank-transactions--import-dump-form"
        enctype="multipart/form-data"
    >
        <input type="file" name="file" class="hidden" data-bank-transactions--import-dump-form-target="inputFile" />
        <input type="hidden" name="csrfToken" value="{{ csrf_token('bank_transactions:import_dump') }}">
        <twig:Button
            variant="primary"
            icon="tabler:upload"
            data-bank-transactions--import-dump-form-target="buttonImport"
        >
            Import
        </twig:Button>
    </form>
{% endblock %}
