<header class="z-10 sticky top-0">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 gap-2 items-center  sm:items-stretch justify-start">
                    {% block logo %}{% endblock %}
                    {% block navigation %}{% endblock %}
                </div>
                {% block user %}{% endblock %}
            </div>
        </div>
    </nav>
</header>
